* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    margin: 4px;
}

.cantidadMonedas {
    font-size: 20px;
    font-weight: 800;
}

.boton {
    padding: 1px 7px;
}

input {
    width: calc(100% - 4px);
    margin: 3px 0 2px;
    padding: 3px;
}

img {
    width: 100%;
    vertical-align: top;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}

.cuadro {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 2.5em;
    margin: 5px;
    color: white;
    font-weight: bold;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.monedas img {
    width: 23px;
    margin: 2px;
}

.grande {
    font-size: 1.5em;
    color: red;
}