button{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.contenedorInfo{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.reyNombre{
    color: #f00;
    font-size: 30px;
}

.reyAficion{
    color: #0f0;
    font-size: 30px;
}