.reyConatiner{
    margin: 10px;
    text-align: center;
}

.reyNombre{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}

.precio{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
}

button{
    font-size: 25px;
    margin-bottom: 5px;
    color: #000;
}